@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body{
    background-image: linear-gradient(to right,#d6d58e, #DBF227);
}

main{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(172, 180, 112, 0.685);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#9FC131;
    text-align: center;
    text-shadow: 1px 1px 2px #475c03b9;
}
h2{
    color:#005C53;
}

p{
    text-align: justify;
}
